<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="<%= clientKey %>"></script>
    
    <title>Pembayaran Top Up Saldo TravelKu</title>
    <style>
      body{
          background-size: cover;
          background-image: url("/images/midtrans2.jpg");
          margin-top: 10%;
      }
    </style>
</head>
<body>
    <div class='row' style="width:100%;">
        <div class="col-md-4"></div>
        <div class="col-md-4" style='border-radius:4px;min-height: 400px;opacity:0.85;background:black;'>
          <br><br><br><center>
            <div>
              <input type='hidden' id='snap_token' value="<%= token %>"/>
              <input type='hidden' id='email' value="<%= email %>"/>
              <input type='hidden' id='jumlah' value="<%= jumlah %>"/>
              <input type='hidden' id='password' value="<%= password %>"/>
                <h1 style='color:white;'>TOP UP</h1>
                <br>
                    <table cellpadding=5>
                      <tr>
                        <td style="text-align: right;"><label for="Email" style='color:white;'><h5>Email &nbsp; : &nbsp;</h5> </label></td>
                        <td><label for="Email" style='color:white;'><h5><%=email %></h5></label></td>
                      </tr>
                      <tr>
                        <td style="text-align: right;"><label for="Jumlah" style='color:white;'><h5>Jumlah &nbsp; : &nbsp;</h5></label></td>
                        <td><label for="Jumlah" style='color:white;'><h5>Rp <%=jumlah %></h5></label></td>
                      </tr>
                    </table>
                <br><br>
                <button id="checkout" class="btn btn-outline-warning btn-md" style="width:40%; margin-top:-5%;">CHECKOUT</button>

            </center>
            </div>
            <br>
        </div>
        <div class="col-md-4"></div>
    </div>

   <script>
     function TambahSaldo(){
         let params = {
             "email" : $("#email").val(),
             "password" : $("#password").val(),
             "jumlah" : $("#jumlah").val()
         };
         $.ajax({
             url : "https://projek-soa-travelling-api.herokuapp.com/217116590/Tambah_Saldo",
             method : "POST",
             data : params,
             success : function(data){
               console.log("SUCCESS Update Database");
             }
         });
     }
     //pilih cara pembayaran dan midtrans
     var token = document.querySelectorAll('#snap_token')[0].value;

     var checkoutBtn = document.querySelectorAll('#checkout')[0];
     checkoutBtn.onclick = function(){
       console.log('opening snap popup:');
       snap.pay(token, {
         // Optional
         onSuccess: function(result){
           TambahSaldo();
           alert("Tambah Saldo Berhasil");
         },
         // Optional
         onPending: function(result){
           alert("Tambah Saldo Pending");
         }
       });
     }
   </script>
</body>
</html>
